*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
:root{
    --body-color:#e4e9f7;
    --sidebar-color:#fff;
    --primary-color: rgb(7, 93, 7);
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;

    --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
}

body.dark{
    --body-color:#18191a;
    --sidebar-color:#242526;
    --primary-color:#3a3b3c;
    --primary-color-light:#3a3b3c;;
    --toggle-color:#fff;
    --text-color:#ccc;

}
main{
   min-height: 100vh;
   width: 100vw;
}
#container{
      margin-left: 260PX;
      height: 100%;
      overflow:hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

}
.card{
   height: 400px;
   min-width: 350px;
   flex: 1;
   background-color: white;
   box-shadow: 1px 3px 5px gray;
   overflow: hidden;
   border-radius: 11px;
   transition: 0.2s;
   padding: 15px;
}
.card img{
   width: 100%;
   height: 60%;
   object-fit: cover;
}
.cardinfo{
   padding-top: 10px;
   padding-left: 10px;
}
.cardinfo h2{
   margin-bottom: 10px;
}
.cardinfo p{
   margin-bottom: 10px;
}
.cardinfo h2{
   padding: 10px 20px;
   border: none;
   border-radius: 11px;
   background-color: black;
   color: white;
   cursor: pointer;
}
.card:hover{
   transform: scale(0.95) rotate(2deg);
}
.cardinfo button{
   width: 30%;
   border: none;
   padding: 5px 10px;
   border-radius: 10px;
   background-color: #361529;
   color: white;
}
 
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.sidebar .img{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar header{
    position: relative;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items:center ;
}
.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li .icon,
.sidebar li .text
{
    color: var(--text-color);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 14px;
    width: 250px;
    background:var(--sidebar-color);
}
.sidebar .img-text img{
    width: 40px;
    border-radius: 6px;
}
 .sidebar header .img-text{
    display: flex;
    align-items: center;
}
header .img-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .arro{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: rgb(7, 93, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
 .sidebar .search-box{
    background: var(--primary-color-light);
}
.search-box input{

    font-size: 100%;
    height: 100%;
    width: 100%;
    border:  none;
    outline: none;
    background: var(--primary-color-light);
}

.sidebar li a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transform: var(--tran-04);
}
.sidebar li a:hover{
    background: var(--primary-color);
    width: 250PX;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: white;
}

.sidebar .manu-bar{
    height:calc(100%*-50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manu-bar .mode{
    background-color: var(--primary-color-light);
}

.manu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.manu-bar .mode i{
    position: absolute;
}

.manu-bar .mode i.sun{
    opacity: 0;
}

.manu-bar .mode .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    
}

.toggle-switch .switch{
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width:  15px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background:  var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 25px;
}